<div class="container mx-auto">
    <h2 class="text-4xl mb-2 leading-tight font-bold font-heading text-center md:pt-32 pt-12">{{ clients.clients }}</h2>
</div>
<section class="py-12 md:py-32 overflow-x-hidden">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
            {% if metadata.language == "english" %}
                <div class="relative w-full lg:w-1/2 order-1 lg:order-0 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10" src="images/Kinteract.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="metis-assets/elements/blob-tear.svg" alt=""></div>
            {% elsif metadata.language == "magyar" %}
                <div class="relative w-full lg:w-1/2 order-1 lg:order-0 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10" src="../images/Kinteract.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="../metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="../metis-assets/elements/blob-tear.svg" alt=""></div>
            {% endif %}
            <div class="w-full lg:w-1/2 lg:order-1">
                <div class="py-6 lg:pl-32">
                    <div class="mb-4"><span class="text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-50 rounded-xl">{{ clients.startup }}</span>
                        <h2 class="text-4xl mt-3 font-bold font-heading">{{ clients.kinteract }}</h2>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.tailor_made_software }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.tailor_made_description }}</p>
                        </div>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.longterm_cooperation }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.longterm_description }}</p>
                        </div>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.changing_technical }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.technical_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 md:py-32 overflow-x-hidden">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
            <div class="w-full lg:w-1/2">
                <div class="py-6 lg:pr-32">
                    <div class="mb-4"><span class="text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-50 rounded-xl">{{ clients.UNHCR_name }}</span>
                        <h2 class="text-4xl mt-3 font-bold font-heading">{{ clients.UNHCR }}</h2>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.internal_competition }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.internal_competition_description }}</p>
                        </div>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.extendedSLA }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.extendedSLA_description }}</p>
                        </div>
                    </div>
                    <div class="flex items-start py-4">
                        <div class="w-8 mr-5 text-blue-500">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
                            </svg>
                        </div>
                        <div>
                            <h3 class="mb-2 text-xl font-semibold font-heading">{{ clients.growing_team }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ clients.growing_team_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if metadata.language == "english" %}
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10 border-2 border-gray-600" src="images/UNHCR.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="metis-assets/elements/blob-tear.svg" alt=""></div>
            {% elsif metadata.language == "magyar" %}
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10 border-2 border-gray-600" src="../images/UNHCR.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="../metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="../metis-assets/elements/blob-tear.svg" alt=""></div>
            {% endif %}
        </div>
    </div>
</section>