<section class="py-8">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap justify-between">
            <div class="flex w-1/2 lg:w-auto py-4">
                <div class="flex justify-center items-center bg-blueGray-50 rounded-xl h-12 w-12 sm:h-20 sm:w-20 text-blue-500">
                    <svg class="h-6 sm:h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                    </svg>
                </div>
                <div class="sm:py-2 ml-2 sm:ml-6"><span class="sm:text-2xl font-bold font-heading ">{{ development.years_together }}</span>
                    <p class="text-xs sm:text-base text-blueGray-400">{{ development.solution }}</p>
                </div>
            </div>
            <div class="flex w-1/2 lg:w-auto py-4">
                <div class="flex justify-center items-center bg-blueGray-50 rounded-xl h-12 w-12 sm:h-20 sm:w-20"><img class="h-6 sm:h-8" src="/metis-assets/icons/puzzle.svg" alt=""></div>
                <div class="sm:py-2 ml-2 sm:ml-6"><span class="sm:text-2xl font-bold font-heading">{{ development.projects_number }}</span>
                    <p class="text-xs sm:text-base text-blueGray-400">{{ development.finished_projects }}</p>
                </div>
            </div>
            <div class="flex w-1/2 lg:w-auto py-4">
                <div class="flex justify-center items-center bg-blueGray-50 rounded-xl h-12 w-12 sm:h-20 sm:w-20 text-blue-500">
                    <svg class="h-6 sm:h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="sm:py-2 ml-2 sm:ml-6"><span class="sm:text-2xl font-bold font-heading">{{ development.working_hours }}</span>
                    <p class="text-xs sm:text-base text-blueGray-400">{{ development.hours }}</p>
                </div>
            </div>
            <div class="flex w-1/2 lg:w-auto py-4">
                <div class="flex justify-center items-center bg-blueGray-50 rounded-xl h-12 w-12 sm:h-20 sm:w-20 text-blue-500">
                    <svg class="h-6 sm:h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
                    </svg>
                </div>
                <div class="sm:py-2 ml-2 sm:ml-6"><span class="sm:text-2xl font-bold font-heading">{{ development.business_opportunity }}</span>
                    <p class="text-xs sm:text-base text-blueGray-400">{{ development.business }}</p>
                </div>
            </div>
        </div>
    </div>
</section>