<div class="container mx-auto">
    <h2 class="text-4xl mb-2 leading-tight font-bold font-heading text-center md:pt-32 pt-12">{{ clients.title }}</h2>
</div>
<section class="py-12 md:py-32 overflow-x-hidden">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
            <div class="relative w-full lg:w-1/2 order-1 lg:order-0 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10" src="/images/Kinteract.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="/metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="/metis-assets/elements/blob-tear.svg" alt=""></div>
            <div class="w-full lg:w-1/2 lg:order-1">
                <div class="py-6 lg:pl-32">
                    <div class="mb-4"><span class="text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-50 rounded-xl">{{ clients.clients[0].type }}</span>
                        <h2 class="text-4xl mt-3 font-bold font-heading">{{ clients.clients[0].name }}</h2>
                    </div>
                    {% for item in clients.clients[0].items %}
                        <div class="flex items-start py-4">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">{{ item.name }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 md:py-32 overflow-x-hidden">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
            <div class="w-full lg:w-1/2">
                <div class="py-6 lg:pr-32">
                    <div class="mb-4"><span class="text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-50 rounded-xl">{{ clients.clients[1].type }}</span>
                        <h2 class="text-4xl mt-3 font-bold font-heading">{{ clients.clients[1].name }}</h2>
                    </div>
                    {% for item in clients.clients[1].items %}
                        <div class="flex items-start py-4">
                            <div class="w-8 mr-5 text-blue-500">
                                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">{{ item.name }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="relative w-full lg:w-1/2 my-12 lg:my-0"><img class="relative mx-auto rounded-xl w-full z-10 border-2 border-gray-600" src="/images/UNHCR.png" alt=""><img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="/metis-assets/elements/blob-tear.svg" alt=""><img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="/metis-assets/elements/blob-tear.svg" alt=""></div>
        </div>
    </div>
</section>